@model List<Kaempfer_Webapp.Entities.Kaempfer>

@{
    ViewData["Title"] = "Kaempfer Übersicht";
}

<h1>Kämpfer</h1>

<a href="/Kaempfer/New" class="btn btn-primary">Neuen Kämpfer anlegen</a>
<table class="table" > 
    <thead>
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtsdatum</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    
    @{
        foreach (var kaempfer in Model)
        {
            <tr>
                <td>@(kaempfer.Kaempferid)</td>
                <td>@(kaempfer.Vorname)</td>
                <td>@(kaempfer.Nachname)</td>
                <td>@(kaempfer.Geburtsdatum)</td>
                <td>
                    <a class="btn btn-warning" href="/Kaempfer/Edit?id=@(kaempfer.Kaempferid)">✏️ Edit</a>
                    <a class="btn btn-danger" href="/Kaempfer/Delete?id=@(kaempfer.Kaempferid)">🗑️ Delete</a>
                </td>
            </tr>
        }
    }
    
    
    </tbody>
</table>